body {
  background: #458326;
}

.box {
  position: relative;
  margin: auto;
  display: block;
  margin-top: 8%;
  width: 600px;
  height: 420px;
  background: none;
}

.head {
  position: absolute;
  top: 16.5%;
  left: 25%;
  width: 50%;
  height: 67%;
  background: #A6BECF;
  border-radius: 50%;
}

.head-copy {
  width: 100%;
  height: 100%;
  position: absolute;
  background: #A6BECF;
  border-radius: 50%;
  z-index: 2;
}

.ear-left {
  position: absolute;
  background: #A6BECF;
  width: 60%;
  height: 65%;
  left: -20%;
  top: 5%;
  border-radius: 50%;
  z-index: 1;
}

.ear-right {
  position: absolute;
  background: #A6BECF;
  width: 60%;
  height: 65%;
  right: -20%;
  top: 5%;
  border-radius: 50%;
  z-index: 1;
}

.inner-ear {
  position: absolute;
  width: 80%;
  height: 80%;
  left: 10%;
  top: 10%;
  background: #819CAF;
  border-radius: 50%;
}

.eye-left {
  position: absolute;
  background: white;
  width: 30%;
  height: 33%;
  top: 25%;
  left: 21%;
  z-index: 3;
  border-radius: 50%;
}

.eye-right {
  position: absolute;
  background: white;
  width: 30%;
  height: 33%;
  top: 25%;
  right: 21%;
  z-index: 3;
  border-radius: 50%;
}

.eye-left-inner {
  position: absolute;
  background: black;
  width: 28%;
  height: 30%;
  top: 40%;
  left: 40%;
  border-radius: 50%
}

.eye-right-inner {
  position: absolute;
  background: black;
  width: 28%;
  height: 30%;
  top: 40%;
  right: 40%;
  border-radius: 50%
}

.nose {
  position: absolute;
  background: #BE845F;
  width: 25%;
  height: 43%;
  z-index: 4;
  top: 45%;
  left: 37%;
  border-radius: 50px;
}

.hair-left {
  position: absolute;
  background: #A6BECF;
  width: 20%;
  height: 20%;
  top: -8%;
  left: 30%;
  -webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

.hair-right {
  position: absolute;
  background: #A6BECF;
  width: 20%;
  height: 20%;
  top: -4%;
  left: 48%;
  -webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}